name: CI
on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.5.1
        with:
          node-version: 17.8.0
      - name: install
        run: npm install
      - name: build
        run: npm run build
      - name: test
        run: npm run test
