name: CI
on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 24.11.1
      - name: install
        run: npm install --legacy-peer-deps --no-audit
      - name: build
        run: npm run build
      - name: test
        run: npm run test
      - name: lint
        run: npm run lint
